import { FC, memo } from 'react'

interface <%= data.name %>Props {

}

const <%= data.name %>: FC<<%= data.name %>Props> = (props) => {
  const {} = props

  return (
    <div className=""></div>
  )
}

<%= data.name %>.defaultProps = {
  
}

export default memo(<%= data.name %>)
